.productRow(style='display: flex; display: -webkit-flex; flex-wrap: wrap; -webkit-flex-wrap: wrap; justify-content: center; -webkit-justify-content: center; line-height: 40px;')
	a.nav.switcher(href='/flavors/', style='position: relative; float: left;') All Flavors
	| |
	a.nav.switcher(href='/flavors/candy', style='position: relative; float: left;') Candys
	| |
	a.nav.switcher(href='/flavors/desert', style='position: relative; float: left;') Deserts
	| |
	a.nav.switcher(href='/flavors/drink', style='position: relative; float: left;') Drinks
	| |
	a.nav.switcher(href='/flavors/fruit', style='position: relative; float: left;') Fruits
	| |
	a.nav.switcher(href='/flavors/special', style='position: relative; float: left;') Specials
	| |
	a.nav.switcher(href='/flavors/tobacco', style='position: relative; float: left;') Tobaccos