<div id="flavor-nav">
    <div class="flavor-nav">
        <a href="/flavors/candy">candy</a>
        <a href="/flavors/desert">desert</a>
        <a href="/flavors/drink">drink</a>
        <a href="/flavors/fruit">fruit</a>
        <a href="/flavors/mint">mint</a>
        <a href="/flavors/special">special</a>
    </div>
</div>