.productRow(style='display: flex; display: -webkit-flex; flex-wrap: wrap; -webkit-flex-wrap: wrap; justify-content: center; -webkit-justify-content: center; line-height: 40px;')
	a.nav.switcher(href='/all_flavors', style='position: relative; float: left;') All Flavors
	| |
	a.nav.switcher(href='/candy_flavors', style='position: relative; float: left;') Candy
	| |
	a.nav.switcher(href='/desert_flavors', style='position: relative; float: left;') Deserts
	| |
	a.nav.switcher(href='/drink_flavors', style='position: relative; float: left;') Drinks
	| |
	a.nav.switcher(href='/fruit_flavors', style='position: relative; float: left;') Fruits
	| |
	a.nav.switcher(href='/special_flavors', style='position: relative; float: left;') Special
	| |
	a.nav.switcher(href='/tobacco_flavors', style='position: relative; float: left;') Tobacco