#wrapper
	.box
		.footer
			.flBox1
				a.fmen.switcher(href='') customer service
				a.fmen.switcher(href='') retail orders
				a.fmen.switcher(href='') wholesale orders
				a.fmen.switcher(href='') sales department
				a.fmen.switcher(href='') account department
			.flBox2
				a.fmen.switcher(href='beginners_guide.html') beginner's guide
				a.fmen.switcher(href='vaping_glossary.html') vaping glossary
				a.fmen.switcher(href='') choosing a mod
				a.fmen.switcher(href='') choosing your juice
				a.fmen.switcher(href='') faq's
			.flBox3
				a.fmen.switcher(href='') BRAT locations
				a.fmen.switcher(href='') BRAT warehouses
				a.fmen.switcher(href='') theBRATcrew team
				a.fmen.switcher(href='') privacy policy
				a.fmen.switcher(href='') site usage policy
			.flBox4
				.footerRow
					.logoF
						img(src='/./assets/img/logos/footerlogo.png')
				.footerRow
					center
						a.footerlinks.switcher(href='')
							i.fa.fa-facebook(aria-hidden='true')
						a.footerlinks.switcher(href='')
							i.fa.fa-twitter(aria-hidden='true')
						a.footerlinks.switcher(href='')
							i.fa.fa-instagram(aria-hidden='true')
				.footerRow
					disc © 2017 ® theBRATcrew, LLC | All Rights Reserved.