<div class="footer container">
    <div class="row d-flex justify-content-between">
        <div class="col-md-4">
            <link-box style="margin-top: 25px;">
                <a href="#">wholesale support</a>
            </link-box>
            <link-box>
                <a href="#">customer support</a>
            </link-box>
            <link-box>
                <a href="#">account requirements</a>
            </link-box>
            <link-box>
                <a href="#">faq's</a>
            </link-box>
        </div>
        <div class="col-md-4">
            <link-box style="margin-top: 25px;">
                <a href="#">beginner's guide</a>
            </link-box>
            <link-box>
                <a href="#">juice glossary</a>
            </link-box>
            <link-box>
                <a href="#">ordering requirements</a>
            </link-box>
            <link-box>
                <a href="#">our locations</a>
            </link-box>
        </div>
        <div class="col-md-4">
            <logo>
                <img src="/images/logos/newlogo2.png"/>
            </logo>
            <disclaimer>© 2017 ®theBRATcrew, LLC</disclaimer>
        </div>
    </div>
</div>