<div id="leftHeader" class="d-flex justify-content-between">
    <div class="col-md-3">
        <img id="headerLogo" class="image-responsive" src="/images/logos/newlogo2.png"/>
        <div id="fa-links">
            <a href="http://facebook.com">
                <i aria-hidden="true" class="fa fa-facebook"></i>
            </a>
            <a href="http://twitter.com">
                <i aria-hidden="true" class="fa fa-twitter"></i>
            </a>
            <a href="http://instagram.com">
                <i aria-hidden="true" class="fa fa-instagram"></i>
            </a>
            <a href="http://gmail.com">
                <i aria-hidden="true" class="fa fa-envelope"></i>
            </a>
            <a href="http://phone.com">
                <i aria-hidden="true" class="fa fa-phone"></i>
            </a>
        </div>
    </div> <!-- leftHeader -->
    <div id="rightHeader" class="col-md-3">
        <div class="headerContent">
            <div class="accountLinks">
                <a href="/">my account</a>|<a href="#">login</a>
            </div>
            <div class="cartLinks">
                <a href="#">
                    <i aria-hidden="true" class="fa fa-shopping-cart"></i>
                </a>
                <t>Items -</t>
                <t>0 -</t>
                <t>$0.00</t>
            </div>
        </div>
    </div> <!-- rightHeader TODO: Maybe Align rightHeader Better -->
</div>