<div id="header">
    <div class="header">
        <logo><img src="/images/logos/newlogo2.png"/></logo>
        <box>
            <social>
                <a href="http://facebook.com">
                    <i aria-hidden="true" class="fa fa-facebook"></i>
                </a>
                <a href="http://twitter.com">
                    <i aria-hidden="true" class="fa fa-twitter"></i>
                </a>
                <a href="http://instagram.com">
                    <i aria-hidden="true" class="fa fa-instagram"></i>
                </a>
                <a href="http://gmail.com">
                    <i aria-hidden="true" class="fa fa-envelope"></i>
                </a>
                <a href="http://phone.com">
                    <i aria-hidden="true" class="fa fa-phone"></i>
                </a>
            </social>
            <account>
                <a href="My_BRAT_Account.html">my account</a>|<a href="#">login</a>
            </account>
            <cart><a href="#"><i aria-hidden="true" class="fa fa-shopping-cart"></i></a>
                <t>Items -</t>
                <t>0 -</t>
                <t>$0.00</t>
            </cart>
            <div class="input-group">
                <input type="text" placeholder="Search for..." class="form-control"/><span class="input-group-btn">
          <button type="button" class="btn btn-default">Go!</button></span>
            </div>
        </box>
    </div>
</div>