<div id="leftHeader" class="d-flex justify-content-between">
    <div class="col-md-3">
        <img id="headerLogo" class="image-responsive" src="/images/logos/newlogo2.png"/>
        <div id="fa-links">
            <a href="http://facebook.com">
                <i aria-hidden="true" class="fa fa-facebook"></i>
            </a>
            <a href="http://twitter.com">
                <i aria-hidden="true" class="fa fa-twitter"></i>
            </a>
            <a href="http://instagram.com">
                <i aria-hidden="true" class="fa fa-instagram"></i>
            </a>
            <a href="http://gmail.com">
                <i aria-hidden="true" class="fa fa-envelope"></i>
            </a>
            <a href="http://phone.com">
                <i aria-hidden="true" class="fa fa-phone"></i>
            </a>
        </div>
    </div> <!-- leftHeader -->
    <div id="rightHeader" class="col-md-3">
        <div class="container">
            <div class="accountLinks row d-flex justify-content-between">
                <!--<div class="col-xs-3">-->
                <!--<a href="/">account</a>-->
                <!--</div>-->
                <!--<div class="col-xs-3">-->
                <!--<a href="#">login</a>-->
                <!--</div>-->
            </div>
            <div class="cart-button row d-flex justify-content-end">
                <a href="/cart" class="btn btn-primary">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
                    {{# if session.cart.totalItems}}
                        <span>({{session.cart.totalItems}})</span>
                        <span>Total: ${{session.cart.totalPrice}}</span>
                    {{else}}
                        <span>(0)</span>
                        <span>Total: $0.00</span>
                    {{/if}}
                </a>
            </div>
        </div>
    </div>
</div> <!-- rightHeader TODO: Maybe Align rightHeader Better -->