#wrapper
	.box(style='border-bottom: 1px solid #999;')
		.top
			.topL
				a.toplinks.switcher(href='')
					i.fa.fa-facebook.fa-set1.switcher(aria-hidden='true')
				a.toplinks.switcher(href='')
					i.fa.fa-twitter.fa-set1.switcher(aria-hidden='true')
				a.toplinks.switcher(href='')
					i.fa.fa-instagram.fa-set1.switcher(aria-hidden='true')
				a.toplinks.switcher(href='')
					i.fa.fa-envelope.fa-set1.switcher(aria-hidden='true')
				a.toplinks.switcher(href='')
					i.fa.fa-phone.fa-set1.switcher(aria-hidden='true')
					| (918) 772-5101
			.topR
				a.toplinks.switcher(href='') My Account
				| |
				a.toplinks.switcher(href='') Login
				| |
				a.toplinks.switcher(href='') Checkout