<div id="navbar">
    <div class="navbar">
        <a href="/">home</a>
        <a href="/flavors">BRAT juice</a>
        <a href="/">wholesale</a>
        <a href="#about">about</a>
    </div>
</div>