//External CSS Files
//Bootstrap
link(href='/bootstrap/css/bootstrap.css', rel='stylesheet')
//Font Awesome Styles
link(href='/assets/css/font-awesome.min.css', rel='stylesheet')
//Age Verification Styles
link(href='/assets/css/age-verification.css', rel='stylesheet')
//Normalize
link(href='/assets/css/normalize.css', rel='stylesheet')

//Global Styles
link(href='/assets/css/style.css', rel='stylesheet')
//Animations
link(href='/assets/css/animations.css', rel='stylesheet')

//Local Styles
link(href='/assets/css/sections.css', rel='stylesheet')
link(href='/assets/css/textnlinks.css', rel='stylesheet')
link(href='/assets/css/responsive.css', rel='stylesheet')

//External CSS Files
//Font Awesome Styles
link(href='/assets/css/font-awesome.min.css', rel='stylesheet')
//Age Verification Styles
link(href='/assets/css/age-verification.css', rel='stylesheet')
