#wrapper
	.box
		.header
			.logoH
				img(src='/./assets/img/logos/headerlogo.png')
			.scart
				textbox
					i.fa.fa-shopping-cart(aria-hidden='true')
				textbox Shopping Cart
				textbox Items
				textbox -
				itemsbox 0
				textbox -
				amountbox $0.00
	.box
		.navmen
			a.nav.switcher(href='/') home
			| |
			a.nav.switcher(href='/flavors') buy BRAT Juice
			| |
			a.nav.switcher(href='/#about') about BRAT
			| |
			a.nav.switcher(href='/#contact') contact
			.searchBox
				.inputSection
					input
				a.subbtn.switcher(href='')
					.submitSection.switcher
						i.fa.fa-search(aria-hidden='true', style='margin: 5px 2px 0px 17px;')