row
	column1.wide33
		wrapper2
			textlines
				| Customer Support
			center
				a.footer(href='') FAQ's
				a.footer(href='') Privacy
				a.footer(href='') Terms of Use
				a.footer(href='') Age Policy
				a.footer(href='') Shipping
				a.footer(href='') Returns
				a.footer(href='') Hero's Discount
				a.footer(href='') Student Discount
	column2.wide33
		wrapper2
			textlines
				| Links
			center
				a.footer(href='') Beginner's Guide
				a.footer(href='') Vaping Glossary
				a.footer(href='') Vape Shows
				a.footer(href='')
				a.footer(href='')
				a.footer(href='')
	column4.wide33
		wrapper2
			row.wide100
				center
					img.footer(src='assets/img/logos/newlogo2.png')
			row.wide100
				center
					a(href='')
						i.fa.fa-facebook.fafoot(aria-hidden='true')
					a(href='')
						i.fa.fa-instagram.fafoot(aria-hidden='true')
			row
				textlines2
					| © 2017 ® theBRATcrew, LLC | All Rights Reserved.