extends layout

block content
	#wrapper
		.box
			.sideNslide
				.side
					.headingRow Flavors
					a.sidemen.switcher(href='/all_flavors') All Flavors
					a.sidemen.switcher(href='/candy_flavors') Candy Flavors
					a.sidemen.switcher(href='/desert_flavors') Desert Flavors
					a.sidemen.switcher(href='/drink_flavors') Drink Flavors
					a.sidemen.switcher(href='/fruit_flavors') Fruit Flavors
					a.sidemen.switcher(href='/special_flavors') Special Flavors
					a.sidemen.switcher(href='/tobacco_flavors') Tobacco Flavors
				.slide
					figure
						img(src='./assets/img/slider/a1.png')
						img(src='./assets/img/slider/a2.png')
						img(src='./assets/img/slider/a3.png')
						img(src='./assets/img/slider/a1.png')
		.box
			.titleRow Our Top Selling Flavors
			.productRow
				.tsBox1
					.tsBox1img
						img(src='./assets/img/juice/bajabrat.png', style='width: 100%; height: 100%; position: relative;')
					.tsBox1name Baja BRAT
					.tsBox1btn
						a.ts1.switcher(href='') Choose Options
				.tsBox2
					.tsBox2img
						img(src='./assets/img/juice/bratberry.png', style='width: 100%; height: 100%; position: relative;')
					.tsBox2name BRATberry
					.tsBox2btn
						a.ts2.switcher(href='') Choose Options
				.tsBox3
					.tsBox3img
						img(src='./assets/img/juice/bonkers.png', style='width: 100%; height: 100%; position: relative;')
					.tsBox3name BRAT Bonkers
					.tsBox3btn
						a.ts3.switcher(href='') Choose Options
				.tsBox4
					.tsBox4img
						img(src='./assets/img/juice/sourbrat.png', style='width: 100%; height: 100%; position: relative;')
					.tsBox4name Sour BRAT
					.tsBox4btn
						a.ts4.switcher(href='') Choose Options
		.box
			.adBanner
				figure
					img(src='./assets/img/slider/banner1.png')
					img(src='./assets/img/slider/banner2.png')
					img(src='./assets/img/slider/banner3.png')
					img(src='./assets/img/slider/banner1.png')
		.box
			.titleRow About BRAT & BRAT Juice
			#about
				.aboutText
					p1
						| BRAT Vapor was founded by Richard & Jackie Berka in 2015. The first brick and mortar location was in Locust Grove
						| Oklahoma, but due to electrical issues with the building, the decision was made to relocate the shop to Tahlequah
						| Oklahoma. theBRATcrew LLC is a family owned and operated business, which will soon include not only BRAT Vapor
						| locations, but BRAT Vapor Wholesale warehouses as well.
						br
						br
						|                     BRAT Juice is a smooth 80/20 vg over pg mix with the maximum allowed flavor content. BRAT Vapor rents our ISO certified
						|                                   lab space to mix this unbelievably awesome juice. No food coloring or other additives are mixed into our juice. Our
						|                                   sweet flavors are sweet due to the flavor recipes we use.
						br
						br
						|                     You must be 18 years of age or older, and some states even require that you be 21 years of age or older. Please check
						|                                   your state vaping age before attempting to make purchases from our site. Age verification is required at checkout.
						br
						br
						|                     This site was designed and integrated by Richard Berka and Adin Ballew. If you are looking for a website for your business
						|                                   you can contact us and speak with Adin about a site build.
		.box
			#contact(style='margin-top: 40px; margin-bottom: 40px; border-bottom: 1px solid #999;')
				center
					h1
						| Call us @ (918) 772-5101
						br
						|                 Email us @ customerservice@thebratcrew.com