extends layout

block content
    // HOME SECTION
    #home-sec
        .container
            .row.text-center
                .col-md-12
                    h2.head-sub-main
                        a(href='https://www.facebook.com/theBRATcrewTahlequah/')
                            img(src='assets/img/facebook.png')
                            img(src='assets/img/bratvaporwhite.png')
                    h3.head-last.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
                        img(src='assets/img/blinelogo.png')
                    br
                    br
                    br
                    br
                    br
                    h4
                        p
                            | B-Line PC Repair Services schedules on-site jobs or jobs can be dropped off at the BRAT Vapor
                            | Lounge. Check the services and prices links in the menu for more details.
                .col-md-12.col-sm-12
                    a(href='#services-sec')
                        i.fa.fa-crosshairs.fa-5x.go-marg
    // END HOME SECTION
    // ABOUT SECTION
    #about-sec
        .about-container
            h1.g-pad-bottom
                i.fa.fa-crosshairs
                |             About Us
            center
                h2
                    img(src='assets/img/logo.png')
                h4
                    | The BRAT (Berka Retail And Tech) name has been around since 2004. The brand is a well known brand, and
                    | becomes so quickly in each and every market expanded into. BRAT is one of
                    | the unique companies that does everything by the book except when it comes to our customers. We feel our
                    | customers deserve more, and should receive better treatment than most
                    | companies give them. We will constantly be expanding into new markets and new states.
                br
                br
                h4
                    p
                        | theBRATcrew, LLC is owned and operated by Richard & Jackie Berka. No products are sold on this site.
                        | To make an order from this company you must contact them in person for
                        | age verification purposes. B-Line PC Repair Services is owned & operated by Adin Ballew who operates
                        | out of the BRAT Vapor Lounge location: 304
                        | N. Muskogee Avenue Tahlequah Oklahoma 74464
                        br
                        |  (918) 772-5101
        .container
    // ABOUT SECTION
    // SERVICES SECTION
    section#services-sec
        .container
            .row
                h1.g-pad-bottom
                    i.fa.fa-crosshairs
                    |                 Our Services
                .text-center.g-pad-bottom
                    .col-md-4.col-sm-4
                        i.fa.fa-usd.fa-5x.faa-vertical.animated.c-main
                        h4 Vapor Products
                        p
                            | We have top of the line vaping products and accessories
                            | at hard to beat prices. We also have one of the largest
                            | selections of flavors in our BRAT Juice line.
                    .col-md-4.col-sm-4
                        i.fa.fa-coffee.fa-5x.faa-ring.animated.c-main
                        h4 Lounge
                        p
                            | The lounge is set up for comfort with tv's, free wifi, coffee,
                            | pop & snacks. We also have an area for NSU college students to
                            | study in a place where they can vape and relax.
                    .col-md-4.col-sm-4
                        i.fa.fa-gavel.fa-5x.faa-shake.animated.c-main
                        h4 PC Repair / Tech
                        p
                            | You can also get tech support for your computer problems, plus
                            | schedule for a complete computer repair job with B-Line PC Repair Services.
            .row
                .col-md-4.col-sm-4
                    .panel.panel-default
                        .panel-body
                            center
                                h4.adjst Top Brands
                                p
                                    | SMOK, Sigelei, Tesla, Wismec, Eleaf, Joyetech, Kanger, Vaporesso...
                .col-md-4.col-sm-4
                    .panel.panel-default
                        .panel-body
                            center
                                h4.adjst Lounge Prices
                                p
                                    | Pop: $0.75 / can, Chips:$0.50 / bag, Candy:$0.50 / bag,
                                    | Coffee: $1.00 / cup
                                    br
                                    | Student discounts apply.
                .col-md-4.col-sm-4
                    .panel.panel-default
                        .panel-body
                            center
                                h4.adjst PC Repair / Tech
                                p
                                    | clean-up / speed-ups, network issues, spyware / malware,
                                    | virus removal, software, hardware, upgrades and more.
    // END SERVICES SECTION
    #calendar-sec
        .calendar-container
            center
                h1.g-pad-bottom
                    i.fa.fa-crosshairs
                    |                 2017 Calendar
                h4
                    | August 4th: Cloud Competition @ 2pm
                    br
                    br
                    | October 31st: A Very BRAT Halloween ($19 120ml sizes on this
                    |                 day).
                    br
                    br
                    |                 December 1st: start of $1 raffle tickets to win one of three BRAT Christmas gifts.
                    br
                    br
                    | December 19th:
                    |                 last day of tickets
                    br
                    br
                    |                 December 20th: drawing for BRAT Christmas gift giveaway.
    // PRICE SECTION
    section#price-sec
        .container
            h1.g-pad-bottom
                i.fa.fa-crosshairs
                |             Basic Prices
            .col-md-12.text-center
                .col-md-4.col-sm-4
                    ul.plan
                        li.plan-head BRAT E-Juice
                        li
                            strong $4
                            |  10ml
                        li
                            strong $9.50
                            |  30ml
                        li
                            strong $25
                            |  120ml
                        li.main-price
                            small NSU & Heroes Discount
                            br
                            a(href='#juice-sec')
                                font(color='red')
                                    | Juice Menu
                .col-md-4.col-sm-4
                    ul.plan
                        li.plan-head On-Site Calls
                        li
                            strong $35
                            |  Call Fee
                        li
                            strong $?
                            |  Depends on Service
                        li
                            strong $?
                            |  Depends on Parts
                        li.main-price
                            small  regular scheduled on-site checkups
                            br
                            | $20 / mo.
                        li.bottom
                .col-md-4.col-sm-4
                    ul.plan
                        li.plan-head Removals
                        li
                            strong $60
                            |  Malware
                        li
                            strong $60
                            |  Spyware
                        li
                            strong $70
                            |  Virus
                        li.main-price
                            small
                                | regular scheduled checkups
                            br
                            | $15 / mo.
                        li.bottom
                        li.bottom
    // END PRICE SECTION
    // JUICE MENU SECTION
    #juice-sec
        h1.g-pad-bottom
            i.fa.fa-crosshairs
            |         Juice Menu
        center
            h2
                img(src='assets/img/bratvaporwhite.png', style='height: 90px;')
                br
                | Message us on our facebook to place an
                |             order for pickup.
        center
            h5
                | Baby Smurf (combination of papa smurf & lady smurf)
                br
                |             Banana
                br
                |             Banana BRAT Pie (Banana Cream Pie)
                br
                |             Banana Sickle (banana with bavarian cream)
                br
                |             Bavarian Cream
                br
                |             Big Red (Big Red Gum)
                br
                |             Birthday Cake
                br
                |             Blue Raspberry
                br
                |             Blue Whip (blueberry with whipped cream)
                br
                |             Blueberry
                br
                |             Blueberry Cupcake
                br
                |             Blueberry Doughnut
                br
                |             BRATBerry (strawberry, kiwi, banana)
                br
                |             BRATBerry V2 (strawberry, pineapple, kiwi)
                br
                |             Bubblegum
                br
                |             Butterbeer
                br
                |             Candy Watermelon (jolly rancher style)
                br
                |             Captain America (strawberries & cream extra creamy)
                br
                |             Captain Crunch
                br
                |             Caramel Candy
                br
                |             Caramel Doughnut
                br
                |             Cherry
                br
                |             Cherry Cheesecake
                br
                |             Cinnamon
                br
                |             Cinnamon Roll
                br
                |             Coconut
                br
                |             Cotton Candy
                br
                |             Cowboy Tobacco
                br
                |             Cryostasis (cold zombie blood)
                br
                |             Cup of Joe
                br
                |             Deadpool (sweet strawberry cheesecake)
                br
                |             Desert Tobacco
                br
                |             Dragons Breath (pomegranate and dragon fruit)
                br
                |             Dragon Fruit
                br
                |             Fire Monster
                br
                |             French Vanilla
                br
                |             Glazed Doughnut
                br
                |             Fire Monster (cold strawberry peach flavored monster)
                br
                |             French Vanilla
                br
                |             Frank N' Barry
                br
                |             Frostbite
                br
                |             Frozen Monster (cold strawberry peach flavored monster)
                br
                |             Glazed Doughnut
                br
                |             Grape
                br
                |             Green Apple
                br
                |             Grimace (grape flavored monster)
                br
                |             Honeydew
                br
                |             Juicy Peach
                br
                |             Kiwi
                br
                |             Lady Smurf
                br
                |             Lemon Meringue Pie
                br
                |             Mango
                br
                |             Menthol
                br
                |             Monster
                br
                |             Mystique (sweet blueberry cheesecake)
                br
                |             Newport Tobacco
                br
                |             NY Cheesecake
                br
                |             Pomegranate
                br
                |             Raspberry
                br
                |             Razzleberry
                br
                |             Salt Water Taffy
                br
                |             Spearmint
                br
                |             Strawberry
                br
                |             Strawberry Banana
                br
                |             Strawberry Daquiri
                br
                |             Strawberry Doughnut
                br
                |             Strawberry Milkshake
                br
                |             Strawberry Whip (strawberries with whipped cream)
                br
                |             Strawberries & Cream
                br
                |             Sweet N Tart (sweet tarts)
                br
                |             Sweet Watermelon
                br
                |             Unicorn Vomit (red white & blue popsickle)
                br
                |             U.S.A. Tobacco
                br
                |             Vanilla Custard
                br
                |             Very Berry
                br
                |             Watermelon
                br
                |             Whipped Cream
                br
                |             Wintergreen
                br
                |             Yellow Cake
                br
                |             Zombie Blood
    // JUICE MENU SECTION
    // PORTFOLIO SECTION
    section#port-sec
        .container
            .row.g-pad-bottom
                h1.g-pad-bottom
                    i.fa.fa-crosshairs
                    |                 Products We Carry
                br
                h5
                    center
                        | These are not the only ones we carry.
                        br
                        | We will be adding a full catalog soon.
                .col-md-10.col-md-offset-1.col-sm-12
                    ul.portfolio-items.col-3
                        li.portfolio-item
                            .item-main
                                .portfolio-image
                                    img(src='assets/img/portfolio/thumb/t1.png', alt='')
                                    .overlay
                                        a.preview.btn.btn-danger(title='Image Title Here', href='assets/img/portfolio/big/b1.png')
                                            i.fa.fa-eye
                                h5 low watt mods
                        li.portfolio-item
                            .item-main
                                .portfolio-image
                                    img(src='assets/img/portfolio/thumb/t2.png', alt='')
                                    .overlay
                                        a.preview.btn.btn-danger(title='Image Title Here', href='assets/img/portfolio/big/b2.png')
                                            i.fa.fa-eye
                                h5 mid watt modds
                        li.portfolio-item
                            .item-main
                                .portfolio-image
                                    img(src='assets/img/portfolio/thumb/t3.png', alt='')
                                    .overlay
                                        a.preview.btn.btn-danger(title='Image Title Here', href='assets/img/portfolio/big/b3.png')
                                            i.fa.fa-eye
                                h5 high watt mods
                        li.portfolio-item
                            .item-main
                                .portfolio-image
                                    img(src='assets/img/portfolio/thumb/t4.png', alt='')
                                    .overlay
                                        a.preview.btn.btn-danger(title='Image Title Here', href='assets/img/portfolio/big/b4.png')
                                            i.fa.fa-eye
                                h5 4 battery mods
                        li.portfolio-item
                            .item-main
                                .portfolio-image
                                    img(src='assets/img/portfolio/thumb/t5.png', alt='')
                                    .overlay
                                        a.preview.btn.btn-danger(title='Image Title Here', href='assets/img/portfolio/big/b5.png')
                                            i.fa.fa-eye
                                h5 bar fire mods
                        li.portfolio-item
                            .item-main
                                .portfolio-image
                                    img(src='assets/img/portfolio/thumb/t6.png', alt='')
                                    .overlay
                                        a.preview.btn.btn-danger(title='Image Title Here', href='assets/img/portfolio/big/b6.png')
                                            i.fa.fa-eye
                                h5 mods without kits
                        li.portfolio-item
                            .item-main
                                .portfolio-image
                                    img(src='assets/img/portfolio/thumb/t7.png', alt='')
                                    .overlay
                                        a.preview.btn.btn-danger(title='Image Title Here', href='assets/img/portfolio/big/b7.JPG')
                                            i.fa.fa-eye
                                h5 Mini Mods
                        li.portfolio-item
                            .item-main
                                .portfolio-image
                                    img(src='assets/img/portfolio/thumb/t8.png', alt='')
                                    .overlay
                                        a.preview.btn.btn-danger(title='Image Title Here', href='assets/img/portfolio/big/b8.png')
                                            i.fa.fa-eye
                                h5 Lower Priced Mods
    // END PORTFOLIO SECTION
    // CONTACT SECTION
    section#contact-sec
        .container
            .row.g-pad-bottom
                h1.g-pad-bottom
                    i.fa.fa-crosshairs
                    |  Contact Info
                .col-md-6
                    h2 Contact theBRATcrew, LLC.
                    p
                        strong  304 N. Muskogee Ave.
                        |   Tahlequah Oklahoma, 74464.
                        br
                        |                     These forms are not always reliable. Please send your emails to richard@thebratcrew.com, or give us
                        |                     a call.
                        br
                        |                     Our shop # is 918-772-5101.
                    form(action='mailto:richard@thebratcrew.com')
                        .row
                            .col-md-6
                                .form-group
                                    input.form-control(type='text', required='required', placeholder='Name')
                            .col-md-6
                                .form-group
                                    input.form-control(type='text', required='required', placeholder='Email address')
                        .row
                            .col-md-12
                                .form-group
                                    textarea#message.form-control(name='message', required='required', rows='3', placeholder='Message')
                                .form-group
                                    button.btn.btn-success(type='submit', action='mailto:richard@thebratcrew.com')
                                        | Submit Request
                .col-md-6
                    iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d807.8212036152082!2d-94.969676!3d35.915528!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa615e2c7cd98fcc4!2sBRAT+Vapor+Lounge!5e0!3m2!1sen!2sus!4v1500916254164', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
    // END CONTACT SECTION
    // JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME
    // CORE JQUERY
    script(src='assets/plugins/jquery-1.10.2.js')
    // BOOTSTRAP CORE SCRIPT
    script(src='assets/plugins/bootstrap.min.js')
    // ISOTOPE SCRIPT
    script(src='assets/plugins/jquery.isotope.min.js')
    // PRETTY PHOTO SCRIPT
    script(src='assets/plugins/jquery.prettyPhoto.js')
    // CUSTOM SCRIPTS
    script(src='assets/js/custom.js')
