doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='description', content='E-Juice')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='author', content='theBRATcrew')
		title= title
		include partials/style
		include partials/navbar
		include partials/topbar
		body
			block content
		include partials/footer
		include partials/plugins