navbar.navbar.navbar-inverse.navbar-fixed-top
    .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#')
                img(src='assets/img/logo.png', style='height:35px;')
        .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='#home-sec') HOME
                li
                    a(href='#about-sec') ABOUT
                li
                    a(href='#services-sec') SERVICES
                li
                    a(href='#calendar-sec') CALENDAR
                li
                    a(href='#price-sec') PRICING
                li
                    a(href='#juice-sec') JUICE MENU
                li
                    a(href='#port-sec') PRODUCTS
                li
                    a(href='#contact-sec') CONTACT