wrapper1
	row.border(style='margin: 20px 0px 20px 0px;')
		column1
			a(href='')
				i.fa.fa-facebook.fatop(aria-hidden='true')
			a(href='')
				i.fa.fa-instagram.fatop(aria-hidden='true')
			a(href='')
				i.fa.fa-envelope.fatop(aria-hidden='true')
			a(href='')
				i.fa.fa-phone.fatop(aria-hidden='true')
				| (918) 772-5101
		column4
			a.space1(href='') my account
			| |
			a.space1(href='') login
			| |
			a.space1(href='') checkout
				words
					a(href='')
						i.fa.fa-shopping-cart.facart(aria-hidden='true')
						| Cart
				words
					| Items -
				items
					| 0
				amount
					| $0.00