script(src='assets/plugins/jquery-1.10.2.js')
script(src='assets/plugins/bootstrap.min.js')
script(src='assets/plugins/jquery.isotope.min.js')
script(src='assets/plugins/jquery.prettyPhoto.js')
script(src='assets/js/custom.js')
