// CORE JQUERY
script(src='assets/plugins/jquery-1.10.2.js')
// BOOTSTRAP CORE SCRIPT
script(src='assets/plugins/bootstrap.min.js')
// ISOTOPE SCRIPT
script(src='assets/plugins/jquery.isotope.min.js')
// PRETTY PHOTO SCRIPT
script(src='assets/plugins/jquery.prettyPhoto.js')
// CUSTOM SCRIPTS
script(src='assets/js/custom.js')
