link(href='bootstrap/css/bootstrap.css', rel='stylesheet')
link(href='assets/css/normalize.css', rel='stylesheet')
link(href='assets/css/sections.css', rel='stylesheet')
link(href='assets/css/animations.css', rel='stylesheet')
link(href='assets/css/class.css', rel='stylesheet')
link(href='assets/css/style.css', rel='stylesheet')
link(href='assets/css/textnlinks.css', rel='stylesheet')
link(href='assets/css/responsive.css', rel='stylesheet')
link(href='assets/css/font-awesome.min.css', rel='stylesheet')
link(href='assets/css/font-awesome.css', rel='stylesheet')