link(href='bootstrap/css/bootstrap.css', rel='stylesheet')
link(href='assets/css/font-awesome.min.css', rel='stylesheet')
link(href='assets/css/font-awesome-animation.css', rel='stylesheet')
link(href='assets/css/prettyPhoto.css', rel='stylesheet')
link(href='assets/css/style.css', rel='stylesheet')
link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
