extends layout

block content
	#wrapper
		.box
			.productRow2
				center
					a.nav.switcher(href='/candy_flavors') Candy
					| |
					a.nav.switcher(href='/desert_flavors') Deserts
					| |
					a.nav.switcher(href='/drink_flavors') Drinks
					| |
					a.nav.switcher(href='/fruit_flavors') Fruits
					| |
					a.nav.switcher(href='/special_flavors') Special
					| |
					a.nav.switcher(href='/tobacco_flavors') Tobacco
			.productRow2
				center
					img(src='./assets/img/slider/banner3.png')
		.box
			.adBanner(style='border: 1px solid #999;')
				figure
					img(src='./assets/img/slider/banner1.png')
					img(src='./assets/img/slider/banner2.png')
					img(src='./assets/img/slider/banner3.png')
					img(src='./assets/img/slider/banner1.png')
		.box
			#contact(style='margin-top: 40px; margin-bottom: 40px; border-bottom: 1px solid #999;')
				center
					h1
						| Call us @ (918) 772-5101
						br
						|                 Email us @ customerservice@thebratcrew.com
