.list-group-item {
    background-color: #111111;
}

.list-group-item .list-item span {
    vertical-align: -14px;
}

.list-group-item .list-item a {
    vertical-align: -14px;
}

#cartImage {
    max-width: 40%;
    height: auto;
}

#qty {
    width: 20%;
}

.product-data {
    display: inline-block;
    text-align: center;
}

.inventory-data {
    display: inline-block;
    text-align: center;
}

#cart-item {
    margin-top: 10px;
}