#rightHeader {
    text-align: right;
}

/*#rightHeader .headerContent {*/
/*position: absolute;*/
/*bottom: 0;*/
/*right: 0;*/
/*}*/

#headerLogo {
    max-width: 60%;
    height: auto;
}

#fa-links a {
    display: inline-block;
}

#fa-links a i {
    text-decoration: none;
    color: white;
    line-height: 30px;
    padding: 0 3px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.accountLinks {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#fa-links a i:hover {
    color: red;
}

.cart-button {
    margin-top: 63%;
}

.cart-button .btn {
    border: thin solid #333333;
}

.cart-button .btn:focus {
    outline: 0 none;
}

.cart-button .btn-primary {
    color: #ffffff;
    background: transparent;
}

.cart-button .btn-primary:hover {
    border: thin solid #ffffff;
}

.cart-button .btn-primary:active {
    background: transparent;
    box-shadow: none;
}
