#rightHeader {
    text-align: right;
}

#rightHeader .headerContent {
    position: absolute;
    bottom: 0;
    right: 0;
}

#headerLogo {
    max-width: 60%;
    height: auto;
}

#fa-links a {
    display: inline-block;
}

#fa-links a i {
    text-decoration: none;
    color: white;
    line-height: 30px;
    padding: 0 3px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.cartLinks a {
    display: inline-block;
}

#fa-links a i:hover {
    color: red;
}

#rightHeader a:hover {
    color: red;
}