@media screen and (min-width: 1200px) {
    .cart-button {
        margin-top: 57% !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .cart-button {
        margin-top: 72% !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .cart-button {
        margin-top: 110% !important;
    }

    #rightHeader .container {
        min-width: 140px !important;
    }
}

#rightHeader {
    text-align: right;
}

#rightHeader .container {
    min-width: 200px;
}

/*#rightHeader .headerContent {*/
/*position: absolute;*/
/*bottom: 0;*/
/*right: 0;*/
/*}*/

#headerLogo {
    min-width: 135px;
    max-width: 135px;
    height: auto;
}

#fa-links a {
    display: inline-block;
}

#fa-links a i {
    text-decoration: none;
    color: white;
    line-height: 30px;
    padding: 0 3px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.accountLinks {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#fa-links a i:hover {
    color: red;
}

.cart-button {
    margin-top: 63%;
}

.cart-button .btn {
    border: thin solid #333333;
}

.cart-button .btn:focus {
    outline: 0 none;
}

.cart-button .btn-primary {
    color: #ffffff;
    background: transparent;
}

.cart-button .btn-primary:hover {
    border: thin solid #ffffff;
}

.cart-button .btn-primary:active {
    background: transparent;
    box-shadow: none;
}
