#topPanel,
#middlePanel {
    margin-top: 1%;
}

/* Off Canvas */
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
    }

    .row-offcanvas-left
    #sidebarLeft {
        left: -50%;
    }

    .row-offcanvas-left.active {
        left: 50%;
    }

    .row-offcanvas-right.active {
        right: 50%;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%;
        margin-left: 10px;
    }

    #offcanvasleft {
        margin-top: 10px;
    }
}

.sidebar {
    height: 100%;
    width: 100%;
    background: #111;
}

.sidebar .nav {
    padding: 10%;
}

.sidebar li {
    width: 100%;
}

.carousel {
    background: url('../images/bgs/15.gif') no-repeat center center;
    background-size: 100%;
    display: block;
}

.banner {
    padding-top: 1%;
}

.banner h2 {
    border-bottom: solid thin;
}

.flavor-box {
    display: inline-block;
}

.flavor-box:hover {
    background: -moz-linear-gradient(right, rgba(255, 255, 255, 0), rgba(159, 159, 159, .1) 50%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(159, 159, 159, .1) 50%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(right, rgba(255, 255, 255, 0), rgba(159, 159, 159, .1) 50%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(right, rgba(255, 255, 255, 0), rgba(159, 159, 159, .1) 50%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(159, 159, 159, .1) 50%, rgba(255, 255, 255, 0) 100%);
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4), inset 0 0 10px rgba(159, 159, 159, 0.8);
    -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4), inset 0 0 10px rgba(159, 159, 159, 0.8);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4), inset 0 0 10px rgba(159, 159, 159, 0.8);
    border-radius: 1%;
}

.flavor-img img {
    width: 225px;
    height: auto;
    padding-bottom: 10%;
}

.flavor-name {
    text-align: center;
    padding-bottom: 4%;
}

.flavor-button {
    text-align: center;
    padding-bottom: 2%;
}

.flavor-button .btn {
    border: thin solid rgb(51, 51, 51);
}

.flavor-button .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.flavor-button .btn-primary {
    color: #ffffff;
    background: transparent;
}

.flavor-button .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    border: thin solid #f7f7f7;
}

.flavor-button .btn-primary:active, .btn-primary.active {
    background: transparent;
    box-shadow: none;
}