.navbar {
    height: 100%;
    /* TODO: Change navbar background */
    background: url('../images/bgs/20.jpg') no-repeat center center;
    background-size: 100%;
}

.navbar a {
    text-decoration: none;
    color: white;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.navbar a:hover {
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

nav {
    white-space: nowrap;
}

nav ul {
    display: inline-block;
    *display: inline; /* IE7 */
    *zoom: 1; /* IE7 */
    list-style: none;
    width: 100%;
}

nav li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-align: center;
    margin-left: -4px;
}

nav li:first-child {
    margin-left: 0;
}

nav .form-inline {
    display: inline-block;
}

.btn-outline-success {
    color: #ff0202;
    background-color: #111;
    border-color: transparent;
}

.btn-outline-success:hover {
    color: #111;
    background-color: #ff0202;
    border-color: transparent;
}