



/*----This is the professional design build of the first BRAT template----*/
/*----September 18, 2017 theBRATcrew LLC----*/
/*----Integration design by Adin Ballew----*/



.fa-set1
{
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}
.fa-set1:hover
{
    color: red;
}
