/*----This is the professional design build of the first BRAT template----*/
/*----September 18, 2017 theBRATcrew LLC----*/
/*----Integration design by Adin Ballew----*/


/*---containers---*/
#container
{
    height: auto !important; 
}

.container-flex-center
{
    height: auto !important;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}

.container-flex-spaced
{
    height: auto !important;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}