/*----This is the professional design build of the first BRAT template----*/
/*----September 18, 2017 theBRATcrew LLC----*/
/*----Integration design by Adin Ballew----*/


body
{
    background: url(../img/bgs/10.jpg) no-repeat center center;  background-size: cover;  background-attachment: fixed;
    color: white;  font-size: 20px;  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;  display: -webkit-flex; 
    flex-wrap: wrap;  -webkit-flex-wrap: wrap; 
    justify-content: center;  -webkit-justify-content: center;
    width: 100% !important;
}

wrapper1
{
    min-height: 30px;
    position: relative;
    border: 1px solid transparent;
}

wrapper2 
{
    width: 90%;
    height: auto;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}

wrapper3 
{
    width: 90%;
    height: auto;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

row,
footer
{
    max-width: 100% !important;
    min-height: 40px;
    position: relative;
    border: 1px solid transparent;
}

rowpop
{
    min-width: 100%;
    max-width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}

flavors
{
    min-width: 100% !important;
    max-width: 100% !important;
    min-height: 40px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
    border: 1px solid transparent;
}

textlines
{
    min-width: 100% !important;
    max-width: 100% !important;
    min-height: 40px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
    border: 1px solid transparent;
    padding-left: 20px;
    font-size: 18px;
    line-height: 25px;
}

textlines2
{
    min-width: 100% !important;
    max-width: 100% !important;
    min-height: 40px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
    border: 1px solid transparent;
    padding-left: 20px;
    font-size: 15px;
    line-height: 15px;
}

navmen
{
    width: calc(100% - 10px);
    min-height: 40px;
    position: relative;
    background: url(../img/bgs/20.jpg) no-repeat center center;
    background-size: 100%;
    border-radius: 5px;
    border: 5px #444;
    border-style: groove;
    line-height: 40px;
}

hbar 
{
    max-width: calc(100% - 10px);
    min-height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    background: url(../img/bgs/20.jpg) no-repeat center center;
    background-size: 100%;
    border-radius: 5px;
    border: 5px #444;
    border-style: groove;
    line-height: 40px;
    padding-left: 20px;
    font-size: 27px;
    text-shadow: black 2px 2px 2px;
}

column1,
column2,
column3,
column4,
box1,
box2,
box3,
box4
{
    min-height: 30px;
    position: relative;
}

box1,
box2,
box3,
box4
{
    border: 1px solid #444;
    background: linear-gradient(gray,silver,gray);
    background: -webkit-linear-gradient(gray,silver,gray);
    margin-bottom: 5px;
}

center 
{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}

cart
{
    min-width: 30px;
    min-height: 30px;
    position: relative;
    border: 5px #444;
    border-style: groove;
    border-radius: 5px;
    background: gray;
}

words,
items,
amount
{
    width: auto;
    min-height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px
}

amount
{
    margin-right: 10px;
}

search 
{
    width: 250px; 
    min-height: 30px;
    margin-top: 2.5px;
    margin-bottom: 5px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background: white;
}

input 
{
    width: 200px;
    min-height: 25px;
    position: relative;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

searchbtn 
{
    width: auto;
    min-height: auto;
    position: relative;
    float: right;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}

sidemen
{
    height: 357px; 
    float: left;
    border: 1px solid #444;
    margin-right: 5px;
    overflow: hidden;
    background: black;
}

slider 
{
    position: relative;
    float: right;
    border: 1px solid #444;
    overflow: hidden;
    background: url(../img/bgs/15.gif) no-repeat center center;
    background-size: 100%;
}

slider figure 
{
    width: 400%;
    height: auto;
    margin: 0;
    position: relative;
    float: left;
    animation: 30s slider infinite;
}

slider figure img 
{
    width: 25%;
    float: left;
}

hbox
{
    min-width: 100%;
    min-height: 40px;
    position: relative;
    float: left;
    background: url(../img/bgs/20.jpg) no-repeat center center;
    background-size: 100%;
    padding-left: 20px;
    font-size: 27px;
    text-shadow: black 2px 2px 2px;
    line-height: 40px;
    margin-bottom: 10px;
}

sbox 
{
    min-width: 100%;
    min-height: 20px;
    position: relative; 
    float: left;
}

@keyframes slider 
{
    0% 
    {
        left: 0%;
    }
    30%
    {
        left: 0%;
    }
    33% 
    {
        left: -100%; 
    }
    63% 
    {
        left: -100%; 
    }
    66% 
    { 
        left: -200%; 
    } 
    97% 
    { 
        left: -200%; 
    } 
    100% 
    { 
        left: -300%; 
    }
}

@media screen and (min-width: 300px) 
{
    wrapper1 
    {
        width: 90% !important;
    }
    row,
    footer,
    navmen,
    hbar
    {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        justify-content: space-around;
        -webkit-justify-content: space-around;
    }
    column1,
    column2,
    column3,
    column4,
    box1,
    box2,
    box3,
    box4 
    {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }
    .wide25
    {
        width: calc(100% - 2px) !important;
    }
    .wide33 
    { 
        width: calc(100% - 2px) !important;
    }
    .wide50 
    {
        width: calc(100% - 2px) !important; 
    } 
    .wide75 
    { 
        width: calc(100% - 2px) !important; 
    } 
    .wide100
    { 
        width: calc(100% - 2px) !important; 
    } 
    sidemen
    {
        display: none;
    }
    slider 
    {
        width: calc(100% - 2px); 
        height: auto;
    }
    slider figure img
    {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    .m-right5 
    {
        margin-right: 0px;
    }
}

@media screen and (min-width: 900px) 
{
    wrapper1 
    {
        width: 90% !important;
    }
    row,
    footer,
    navmen,
    hbar
    {
        display: block;
    }
    column1,
    column2,
    column3,
    box1,
    box2,
    box3,
    box4
    {
        float: left;
    }
    column4 
    {
        float: right;
    }
    .wide25
    {
        width: calc(25% - 5.8px) !important;
    }
    .wide33 
    { 
        width: calc(33.3333333333333% - 5.8px) !important;
    }
    .wide50 
    {
        width: calc(50% - 5.8px) !important; 
    } 
    .wide75 
    { 
        width: calc(75% - 5.8px) !important; 
    } 
    .wide100
    { 
        width: calc(100% - 2px) !important; 
    } 
    sidemen
    {
        display: inline-block;
        width: calc(25% - 10px);
    }
    slider 
    {
        width: calc(75% - 2px); 
        height: 357px;
    }
    slider figure 
    {
        top: 50%;
        transform: translateY(-50%);
    }
    slider figure img
    {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
    .m-right5 
    {
        margin-right: 5px;
    }
}

@media screen and (min-width: 1200px)
{
    wrapper1 
    {
        width: 80% !important;
    }
    row,
    footer,
    navmen,
    hbar
    { 
        display: block;
    }
    column1,
    column2,
    column3,
    box1,
    box2,
    box3,
    box4
    {
        float: left;
    }
    column4 
    {
        float: right;
    }
    .wide25
    {
        width: calc(25% - 5.8px) !important;
    }
    .wide33 
    { 
        width: calc(33.3333333333333% - 5.8px) !important;
    }
    .wide50 
    {
        width: calc(50% - 5.85px) !important; 
    } 
    .wide75 
    { 
        width: calc(75% - 5.8px) !important; 
    } 
    .wide100
    { 
        width: calc(100% - 2px) !important; 
    }  
    sidemen
    {
        display: inline-block;
        width: calc(15% - 10px);
    }
    slider 
    {
        width: calc(85% - 2px); 
        height: 357px;
    }
    slider figure 
    {
        top: 50%;
        transform: translateY(-50%);
    }
    slider figure img
    {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
    }
    .m-right5 
    {
        margin-right: 5px;
    }
}

img.header
{
    width: 180px;
    height: 180px;
    padding: 10px;
}

img.footer 
{
    width: 130px;
    height: 130px;
    padding: 10px;
}

flavors img 
{
    height: 90%;
    width: 70%;
}

.fatop,
.facart,
.fafoot
{
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.fatop:hover,
.facart:hover,
.fafoot:hover
{
    color: red;
}

.fasearch
{ 
    color: black;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    padding-right: 15px;
}

.fasearch:hover 
{
    color: red;
}

a 
{
    color: white;
    text-decoration: none;
    line-height: 30px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    margin-left: 5px;
    margin-right: 5px;
}

a:hover  
{
    color: red; 
}

a.space1 
{
    color: white;
    text-decoration: none;
    line-height: 30px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    margin-left: 10px;
    margin-right: 10px;
}

a.space1:hover  
{
    color: red; 
}

a.navmen 
{
    color: white;
    text-decoration: none;
    line-height: 40px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

a.navmen:hover
{
    background: rgba(0,0,0,0.5);
}

a.sidemen 
{
    width: 100% !important;
    min-height: 40px; 
    position: relative;
    float: left;
    color: white;
    text-decoration: none;
    padding-left: 20px;
    line-height: 40px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border-bottom: 1px solid #444;
}

a.sidemen:hover  
{
    background: red;
}

a.footer
{
    width: 100% !important;
    min-height: 30px; 
    position: relative;
    float: left;
    color: white;
    text-decoration: none;
    padding-left: 20px;
    line-height: 30px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    font-size: 15px;
}

a.footer:hover  
{
    color: red;
}

a.chopt
{
    min-width: 80px;
    min-height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: url(../img/bgs/20.jpg) no-repeat center center;
    background-size: 100%;
    color: white;
    text-decoration: none;
    line-height: 40px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border: 5px #444;
    border-style: groove;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

a.chopt:hover 
{
    background: url(../img/bgs/10.jpg) no-repeat center center;
    background-size: 100%;
}

.border 
{
    border-bottom: 1px solid #444;
}

.borderfull
{
    border: 1px solid transparent;
}

.bordergroove 
{
    border: 5px #444;
    border-style: groove;
    border-radius: 10px;
}

p
{
    color: white;
    padding: 50px;
    font-size: 15px;
    text-align: left;
}

w 
{
    color: black;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    font-size: 19px;
}

#avpop 
{
    position: fixed;
    z-index: 10;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    margin: auto auto auto auto;
    width: 0px;
    height: 0px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border: 5px white;
    border-style: groove;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
}

#avpop:target 
{
    width: 500px;
    height: 500px;
    background: linear-gradient(black,gray,silver,gray,black);
    background: -webkit-linear-gradient(black,gray,silver,gray,black);
    opacity: 1;
}

#bajabrat,
#bananabratpie,
#bonkers,
#bratberry,
#bratberryblast,
#bratberrydelight,
#bratberrytropical,
#bratsicle,
#bratstasis,
#bratastic,
#bratbluehero,
#bratdragon,
#bratgreenhero,
#bratredhero,
#bratyellowhero,
#sourbrat
{
    position: fixed;
    z-index: 10;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    margin: auto auto auto auto;
    width: 0px;
    height: 0px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border: 5px white;
    border-style: groove;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
}

#bajabrat:target,
#bananabratpie:target,
#bonkers:target,
#bratberry:target,
#bratberryblast:target,
#bratberrydelight:target,
#bratberrytropical:target,
#bratsicle:target,
#bratstasis:target,
#bratastic:target,
#bratbluehero:target,
#bratdragon:target,
#bratgreenhero:target,
#bratredhero:target,
#bratyellowhero:target,
#sourbrat:target 
{
    width: 500px;
    height: 700px;
    background: linear-gradient(black,gray,silver,gray,black);
    background: -webkit-linear-gradient(black,gray,silver,gray,black);
    opacity: 1;
}