/*----This is the professional design build of the first BRAT template----*/
/*----September 18, 2017 theBRATcrew LLC----*/
/*----Integration design by Adin Ballew----*/

/*---small sizes---*/
@media screen and (min-width: 300px) and (max-width: 899px)
{
/*---spans---*/
.span25 {width: calc(100% - 4.5px);}
.span33 {width: calc(100% - 4.5px);}
.span50 {width: calc(100% - 4.5px);}
.span75 {width: calc(100% - 4.5px);}
.span90 {width: 90% !important;}
.span100 {width: 100% !important;}
#row {display: flex; display: -webkit-flex; flex-wrap: wrap; -webkit-flex-wrap: wrap; justify-content: center; -webkit-justify-content: center;}
#column {display: flex; display: -webkit-flex; flex-wrap: wrap; -webkit-flex-wrap: wrap; justify-content: center; -webkit-justify-content: center;}
.row {display: flex; display: -webkit-flex; flex-wrap: wrap; -webkit-flex-wrap: wrap; justify-content: center; -webkit-justify-content: center;}
.left-box,
.right-box {display: flex; display: -webkit-flex; flex-wrap: wrap; -webkit-flex-wrap: wrap; justify-content: center; -webkit-justify-content: center;}
#column-middle {display: none;}
}







/*---larger sizes---*/
@media screen and (min-width: 900px) and (max-width: 1199px)
{
/*---spans---*/
.span25 {width: calc(25% - 4.5px);}
.span33 {width: 33.3333333333333% !important;}
.span50 {width: calc(50% - 4.5px);}
.span75 {width: calc(75% - 4.5px);}
.span90 {width: 90% !important;}
.span100 {width: 100% !important;}
#row {display: block;}
#column {position: relative; float: left;}
.left-box {position: relative; float: left;}
.right-box {position: relative; float: right;}
#column-middle {display: none;}
}







@media screen and (min-width: 1200px)
{
    /*---spans---*/
.span25 {width: calc(25% - 4.5px);}
.span33 {width: 33.3333333333333% !important;}
.span50 {width: calc(50% - 4.5px);}
.span75 {width: calc(75% - 4.5px);}
.span90 {width: 90% !important;}
.span100 {width: 100% !important;}
#row {display: block;}
#column {position: relative; float: left;}
#column-middle {position: relative; float: left;}
.left-box {position: relative; float: left;}
.right-box {position: relative; float: right;}
}