/*----This is the professional design build of the first BRAT template----*/
/*----September 18, 2017 theBRATcrew LLC----*/
/*----Integration design by Adin Ballew----*/

/*---Global Styles---*/
body
{
    width: 100%;
    background-size: cover;
    background: url(../img/bgs/10.jpg) no-repeat fixed center center;
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}

a
{
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

a:hover
{
    color: red;
}

.fa-set1
{
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}
.fa-set1:hover
{
    color: red;
}
