/*----This is the professional design build of the first BRAT template----*/
/*----September 18, 2017 theBRATcrew LLC----*/
/*----Integration design by Adin Ballew----*/


/*---mobile top bar---*/
#mobile_top_bar
{
width: 100% !important; 
min-height: 60px;
display: flex; 
display: -webkit-flex; 
flex-wrap: wrap; 
-webkit-flex-wrap: wrap; 
justify-content: center;
-webkit-justify-content: center;
}
#mobile_top_bar container 
{
width: 90% !important;
min-height: 60px;
border-bottom: 1px solid #444;
display: flex; 
display: -webkit-flex; 
flex-wrap: wrap; 
-webkit-flex-wrap: wrap; 
justify-content: center;
-webkit-justify-content: center;
}
#mobile_top_bar container one 
{
width: auto !important; 
min-height: 30px;
margin-top: 15px;
margin-bottom: 15px;
color: white; 
line-height: 30px;
}
#mobile_top_bar container two 
{
width: auto !important; 
min-height: 30px;
margin-top: 15px;
margin-bottom: 15px;
color: white; 
line-height: 30px;
}
#mobile_top_bar container fa 
{
color: white; 
padding-left: 5px;
padding-right: 5px;
transition: all 0.5s;
-webkit-transition: all 0.5s;
}
#mobile_top_bar container fa:hover 
{
color: red;
}
#mobile_top_bar a 
{
padding-left: 5px;
padding-right: 5px;
margin-left: 5px;
margin-right: 5px;
color: white; 
line-height: 30px;
text-decoration: none;
}
#mobile_top_bar a:hover 
{
color: red;
}











/*---top bar---*/
#top_bar
{
width: 100% !important; 
min-height: 60px;
display: flex; 
display: -webkit-flex; 
flex-wrap: wrap; 
-webkit-flex-wrap: wrap; 
justify-content: center;
-webkit-justify-content: center;
}
#top_bar container 
{
width: 90% !important; 
min-height: 60px;
border-bottom: 1px solid #444;
position: relative;
}
#top_bar container left 
{
width: auto !important; 
min-height: 30px; 
margin-top: 15px;
position: relative; 
float: left;
color: white; 
line-height: 30px;
}
#top_bar container right 
{
width: auto !important; 
min-height: 30px; 
margin-top: 15px;
position: relative; 
float: right;
color: white; 
line-height: 30px;
}
#top_bar container fa 
{
color: white; 
padding-left: 5px;
padding-right: 5px;
transition: all 0.5s;
-webkit-transition: all 0.5s;
}
#top_bar container fa:hover 
{
color: red;
}
#top_bar a 
{
padding-left: 5px;
padding-right: 5px;
margin-left: 5px;
margin-right: 5px;
color: white; 
line-height: 30px;
text-decoration: none;
}
#top_bar a:hover 
{
color: red;   
}





